USE [ABS_LIFE]
GO
/****** Object:  StoredProcedure [dbo].[SPIL_GET_CLAIM_WAIVER_RPT]    Script Date: 08/05/2015 18:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPIL_GET_CLAIM_WAIVER_RPT]
(@RPT_ST_DATE	DATETIME
	,@RPT_END_DATE DATETIME
)
AS
BEGIN
	
SELECT WK.[TBIL_POLY_ASSRD_CD], WK.TBIL_POLY_POLICY_NO, WK.TBIL_POLY_WAIVER_DT, 
	  (WV.TBIL_INSRD_SURNAME + ' ' + WV.TBIL_INSRD_FIRSTNAME) AS FULLNAME,
	   WT.TBIL_POL_ADD_COVER_CD, WW.TBIL_COV_DESC,
	   WS.TBIL_POL_PRM_PRDCT_CD, WS.TBIL_POL_PRM_FROM,
	   WS.TBIL_POL_PRM_TO, WU.TBIL_PRDCT_DTL_DESC
	   FROM TBIL_POLICY_DET AS WK
	   INNER JOIN tbil_ins_detail AS WV ON WK.TBIL_POLY_ASSRD_CD=WV.TBIL_INSRD_CODE
	   INNER JOIN TBIL_POLICY_ADD_PREM AS WT ON WK.TBIL_POLY_POLICY_NO=WT.TBIL_POL_ADD_POLY_NO
	   INNER JOIN TBIL_POLICY_PREM_INFO AS WS ON WK.TBIL_POLY_POLICY_NO=WS.TBIL_POL_PRM_POLY_NO
	   INNER JOIN TBIL_PRODUCT_DETL AS WU ON WS.TBIL_POL_PRM_PRDCT_CD=WU.TBIL_PRDCT_DTL_CODE
	   INNER JOIN TBIL_COVER_DET AS WW ON WT.TBIL_POL_ADD_COVER_CD=WW.TBIL_COV_CD
	   
	   WHERE TBIL_POLY_STATUS ='W' AND TBIL_POLY_WAIVER_DT >=@RPT_ST_DATE AND TBIL_POLY_WAIVER_DT <=@RPT_END_DATE
	   ORDER BY TBIL_POLY_WAIVER_DT ASC
	
END
